{% extends "layout.html" %}

{% block title %}vinkami{% endblock %}

{% block content %}
    <div class="container-md" id="about-me">
        <h2 class="text-center">About Me</h2>
        <br>
        <md-block>
            I'm vinkami, a student in Hong Kong, a developer for anything I'm interested about, and a bit of a YouTuber / Twitch streamer! \
            I know **Python**, **Kotlin**, and a bit of **Java** and **C++**.
        </md-block>
    </div>

    <br>

    <div class="container-md" id="find-me">
        <h2 class="text-center">Find Me</h2>
        <br>
        <md-block>
            [discord]: https://discord.gg/s7vGZFz9C8
            [youtube]: https://youtube.com/@vinkamiii
            [twitter]: https://twitter.com/vinkami_krip
            [twitch]: https://twitch.tv/vinkami
            [github]: https://github.com/vinkami

            I sometimes post videos or stream on [YouTube][youtube] and [Twitch][twitch]. \
            Besides, I have ongoing projects that can be seen on [GitHub][github].\
            You may talk to me directly in [my Discord server][discord] or through [Twitter][twitter].
        </md-block>
    </div>
{% endblock %}