{% extends "layout.html" %}

{% block title %}vinkami{% endblock %}

{% block content %}
    <div class="container-md" id="about-me">
        <h2 class="text-center">About Me</h2>
        <br>
        <md-block>
            I'm vinkami, a student in Hong Kong, a developer for anything I'm interested about, and a bit of a YouTuber / Twitch streamer! <br>
            I know **Python**, **Kotlin**, and a bit of **Java** and **C++**.
        </md-block>
    </div>

    <br><br>

    <div class="container-md" id="find-me">
        <h2 class="text-center">Find Me</h2>
        <br>
        <p>
            I sometimes post videos or stream on <a href="{{youtube}}">YouTube</a> and <a href="{{twitch}}">Twitch</a>. <br>
            Besides, I have ongoing projects that can be seen on <a href="{{github}}">GitHub</a>. <br>
            You may talk to me directly in <a href="{{discord}}">my Discord server</a> or through <a href="{{twitter}}">Twitter</a>.
        </p>
    </div>

    <br><br>

    <div class="container-md" id="programming">
        <h2 class="text-center">Programming</h2>
        <br>
        <p>
            I'm currently working on my own programming language / Minecraft plugin <a href="{{vinkamilang}}">VinkamiLang</a> and of course this website.<br>
            Here are some of the stats you can see about my progress:
        </p>
        <img src="https://github-readme-stats.vercel.app/api?username=vinkami&show_icons=true&theme=gruvbox" alt="Stats rendering failed">
        <img src="https://github-readme-stats.vercel.app/api/top-langs?username=vinkami&theme=gruvbox&layout=compact&langs_count=8" alt="Top languages rendering failed">    </div>
{% endblock %}